[submodule "libtpproto-py"]
	path = libtpproto-py
	url = https://github.com/thousandparsec/libtpproto-py
[submodule "libtpclient-py"]
	path = libtpclient-py
	url = https://github.com/thousandparsec/libtpclient-py
